/*背景图片*/
body
{
    /*background: url("../img/水墨中华.jpg");*/
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

/*font*/
@font-face {font-family: 'font';  src: url("../TTF/FZSJ-DQYBKSJW.TTF");}
.font {font-family: 'font';}

/*position*/
.center-block {display: block;margin: auto;}

/*size*/
.tall {min-height: 560px}
.img-size {width: 260px;height: 160px;}
.bar-img-size {width: 160px;height: 120px;}

/*test*/
.border-box {background-color: #0e6dcd;}

/*bar*/
.uk-offcanvas-bar {width: 215px;background: #fff;color: #444;padding-left:20px;padding-right: 35px}
.uk-offcanvas-overlay::before {background: rgba(255,255,255,0);}
.uk-offcanvas-bar .uk-nav-default {width: 160px;padding: 0;}
.uk-offcanvas-bar h3 {color: #444;font-weight: bold;}
.uk-offcanvas-bar .uk-nav-default>li>a,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a,
.uk-offcanvas-bar .uk-nav-default .uk-nav-header {color:#999}
.uk-offcanvas-bar .uk-nav-default>li>a:hover,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover {color: #444}
.uk-offcanvas-bar .uk-nav-default>li>a:focus,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:focus {color: #444}
.uk-offcanvas-bar .uk-active {color: black}
.uk-offcanvas-bar .uk-nav-default .uk-nav-divider{border-top-color: #e5e5e5}