<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-width-1-6"></div>
    <div class="uk-width-4-6">
        <ul class="uk-navbar-left uk-navbar-nav">
            <li><a uk-toggle="target: #offcanvas-nav" uk-icon="icon:table"></a></li>
            <li class="uk-active">
                <a href="home.html" style="font-size: 20px;font-family: font;font-weight: bold">
                    <img src="../static/img/山河.png" alt="山河寻遍" style="width: 30px;height: 45px">
                </a>
            </li>
            <li>
                {% if request.session.is_login %}
                <a href="#">您好，user</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">历史查询</a></li>
                        <li><a href="#">收藏景点</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </div>
                {% else %}
                    <a href="#">您好，请登录</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/login">登录</a></li>
                            <li><a href="/register">注册</a></li>
                        </ul>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>