<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山河寻遍-个人中心</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body style="background: url(/static/img/body-background.jpg) fixed content-box;">
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-width-1-6"></div>
    <div class="uk-width-4-6">
        <ul class="uk-navbar-left uk-navbar-nav">
            <li><a uk-toggle="target: #offcanvas-nav" uk-icon="icon:table"></a></li>
            <li class="uk-active">
                <a href="/" style="font-size: 20px;font-family: font;font-weight: bold">
                    <img src="../static/img/山河.png" alt="山河寻遍" style="width: 30px;height: 45px">
                </a>
            </li>
            <li>
                {% if request.session.is_login %}
                    <a href="#">您好，{{ request.session.user_name }}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">历史查询</a></li>
                            <li><a href="#">收藏景点</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="#">您好，请登录</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/login">登录</a></li>
                            <li><a href="/register">注册</a></li>
                        </ul>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="uk-container-center">
    <div class="col-8 tall center-block" style="padding-top: 2rem;padding-bottom: 1rem">
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-article-title"><a class="uk-link-reset font" href="">{{ request.session.user_name }}
                <small>的个人空间</small>
            </a></h1>
            <ul class="uk-child-width-expand" uk-switcher="animation: uk-animation-fade" uk-tab>
                <li><a href="#">最热推荐</a></li>
                <li><a href="#" onclick="check_history('{{ request.session.user_name }}')">历史查询</a></li>
                <li><a href="#" onclick="check_collect('{{ request.session.user_name }}')">收藏景点</a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                    <ul class="uk-child-width-1-3 uk-child-width-1-4@m uk-text-center uk-grid-match" uk-grid>
                        {% for item in hot_list %}
                            <li>
                                <div class="card">
                                    <div class="front"
                                         style="background-image: url('/static/img/pictures/{{ item.cover }}');">
                                        <p class="">{{ item.name }}</p>
                                    </div>
                                    <div class="back">
                                        <div>
                                            <p>{{ item.location }}</p>
                                            <form method="get" action="/attraction-detail">
                                                <input type="text" style="display: none" name="attractionName"
                                                       value="{{ item.name }}">
                                                <input type="text" style="display: none" name="attractionLocation"
                                                       value="{{ item.location }}">
                                                <button class="button uk-button uk-button-text" type="submit">查看
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <ul id="history-part" class="uk-list uk-list-large uk-list-striped">
                        <li></li>
                    </ul>
                </li>
                <li>
                    <ul id="collect-part" class="uk-child-width-1-3 uk-child-width-1-4@m uk-text-center uk-grid-match"
                        uk-grid>
                        <li>
                            <div class="card"></div>
                        </li>
                        <li>
                            <div class="card"></div>
                        </li>
                        <li>
                            <div class="card"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="position: fixed;right: 80px;bottom: 300px;width: 120px;height: 120px;" style="background: rgba(255,255,255,.0)">
    <div class="uk-card uk-card-default" style="background: rgba(255,255,255,.0)">
        <div class="uk-card-body" style="background: rgba(255,255,255,.7)">
            <ul class="uk-nav uk-nav-default" style="padding: 0;">
                <li><a style="padding-left: 32px;padding-right: 20px" href="/personal-center">个人中心</a></li>
                <li><a style="padding-left: 32px;padding-right: 0" href="/hot-attraction">热门景点</a></li>
                <li><a style="padding-left: 32px;padding-right: 20px" href="/check-all">查看全部</a></li>
                <li><a style="padding-left: 32px;padding-right: 20px" href="/">返回首页</a></li>
                <li><a style="padding-left: 50px" href="#" uk-totop uk-scroll></a></li>
            </ul>
        </div>
    </div>
</div>
<script src="bar.js"></script>
<script>
    function check_collect(username) {
        console.log(username);
        $.ajax({
            url: '/check-collect',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: {
                userName: username,
            },
            success: function (ret) {
                console.log(ret);
                var str = '';
                for (var i = 0; i < ret.length; i++) {
                    console.log(ret[i]);
                    var coll = ret[i];
                    str += '<li><div class="card">\n' +
                        '                                <div class="front" style="background-image: url(\'/static/img/pictures/' +
                        coll['cover'] +
                        '\');" >\n' +
                        '                                    <p>' +
                        coll['name'] +
                        '</p>\n' +
                        '                                </div>\n' +
                        '                                <div class="back">\n' +
                        '                                    <div>\n' +
                        '                                        <p>' +
                        coll['location'] +
                        '</p>\n' +
                        '                                        <form method="get" action="/attraction-detail">\n' +
                        '                                            <input type="text" style="display: none" name="attractionName"\n' +
                        '                                                   value="' +
                        coll['name'] +
                        '">\n' +
                        '                                            <input type="text" style="display: none" name="attractionLocation"\n' +
                        '                                                   value="' +
                        coll['location'] +
                        '">\n' +
                        '                                            <button class="button uk-button uk-button-text" type="submit">查看</button>\n' +
                        '                                        </form>' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </div></li>'
                }
                document.getElementById('collect-part').innerHTML = str;
            }
        });
        return false;
    }

    function check_history(username) {
        console.log(username);
        $.ajax({
            url: '/check-history',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: {
                userName: username,
            },
            success: function (ret) {
                console.log(ret);
                var list = JSON.parse(ret);
                console.log(list);
                var str = '';
                for (var i = 0; i < list.length; i++) {
                    console.log(list[i]['fields']);
                    var record = list[i]['fields'];
                    str += '                        <li class="uk-grid" uk-grid  style="margin-left: 0">\n' +
                        '                            <a class="uk-width-1-6">' +
                        (i + 1) +
                        '</a>\n' +
                        '                            <div class=" uk-width-1-3"><a class="uk-button uk-button-text" href="/search?search_field=' +
                        record['search_field'] +
                        '">' +
                        record['search_field'] +
                        '</a></div>\n' +
                        '                            <a class="uk-width-1-2">' +
                        record['timestamp'] +
                        '</a>\n' +
                        '                        </li>';
                }
                document.getElementById('history-part').innerHTML = str;
            }
        });
        return false;
    }
</script>
</body>
<script src="/static/js/footer.js"></script>
</html>
